body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(10, 10, 10);
    font-family: 'Montserrat';
  }
  
  button {
    font-family: 'Montserrat';
    color: #efeaff;
    background-color: #8878A8;
  }
  
  div {
    color: #efafff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }